ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

input[type="button"] {
  display: block;
  text-decoration: none;
  width: 100px;
  height: 25px;
  border-radius: 7px;
  float: right;;
}

button {
    display: block;
    text-decoration: none;
    width: 200px;
    height: 50px;
    border-radius: 7px;
    overflow: hidden;
    margin: 5px;
}

/* Change the link color on hover */
button:hover, input[type="button"]:hover {
    background-color: #555;
    color: white;
}

h1 {
  color: white;
}

ul {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: transparent;
}

#game {
  width: 1280;
  height: 720px;
  margin: 0 auto 0 auto;
  display: none;
  z-index: -1;
}

#mainMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -105px;
  width: 210px;
  display: none;
  background-color: transparent;
  overflow: hidden;
}

#selectName {
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -100px;
  margin-left: -250px;
  width: 400px;
  background-color: lightblue;
  border-radius: 10px;
  padding: 20px;
}
